:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-bg-color: #ffffff;
  --title-list-text-color: #757575;
  --secondary-ff: 'Raleway', sans-serif;
  --primary-ff: 'Roboto', sans-serif;
  --footer-bg-color: #2f303a;
  --logo-link: #000000;
  --bg-portf-color: #f5f5f5;
}
body {
  font-family: var(--primary-ff);
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.address {
  font-style: normal;
}
html {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.accent,
.current {
  content: '';
  color: var(--accent-text-color);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.aside {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}
.page-header .container {
  display: flex;
  align-items: center;
}
.header-portfolio .container {
  display: flex;
  align-items: center;
}
.header-portfolio {
  height: 80px;
  border-bottom: 1px solid #ececec;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
}
.nav-item__line {
  position: relative;
  padding-bottom: 28px;
}
.nav-item__line::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item__line:hover::after {
  content: '';
  opacity: 1;
}
.contact {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.nav-item {
  margin-right: 50px;
  align-items: center;
}
.nav-item__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}
.contact-list {
  margin-right: 50px;
  display: flex;
}
/*header*/
.logo-link {
  margin-right: 93px;
  font-family: var(--secondary-ff);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--logo-link);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-text-color);
}

.nav-link .nav-link,
.contakt-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: inherit;
}
.accent,
.current {
  color: var(--accent-text-color);
}

.contact-icons {
  margin-right: 10px;
}
.contact-icons {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link {
  display: flex;
  align-items: center;
  color: var(--title-list-text-color);
  font-weight: 500;
}
.contact:hover,
.contact:focus {
  color: var(--accent-text-color);
}
.contact {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-text-color);
}
.contact-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover .contact-icons,
.contact-link:focus .contact-icons {
  fill: var(--accent-text-color);
}
.accent,
.current {
  color: var(--accent-text-color);
}
/*hero*/
.hero {
  background-color: var(--footer-bg-color);
  display: block;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/header.jpg);
}
.hero-title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-bg-color);
  max-width: 696px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  min-width: 152px;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
}
.hero-button {
  background-color: var(--accent-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  padding: 10px 32px;
  border: none;
}
.feature-icon {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #f5f4fa;
}
/*feature*/
.feature {
  text-align: left;
  padding-bottom: 0px;
  padding-top: 94px;
}
.feature-list {
  display: flex;
}
.feature-title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.feature-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-list-text-color);
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-item {
  width: 270px;
}

/* section team*/
.aside-list {
  display: inline-flex;
}
.aside-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  margin-bottom: 50px;
}
.aside-item {
  width: 370px;
  padding-right: 30px;
  padding-top: 50px;
}
.aside-image {
  text-align: center;
  justify-content: space-around;
}
.aside-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  width: 370px;
  height: 70px;
  opacity: 0.5;
  pointer-events: none;
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: calc(16 / 14);
  transform: translateY(-105%);
  background: rgba(47, 48, 58, 0.8);
}
.aside-item:not(:last-child) {
  margin-right: 30px;
}
.team-nav {
  display: flex;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--bg-portf-color);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  display: inline-block;
  width: 270px;
  height: auto;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-box__list {
  text-align: center;
}
.team-box__item {
  margin-top: 10px;
  text-align: center;
}
.team-box__name {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-box__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--title-list-text-color);
}
.team-box {
  padding: 30px;
}
.team-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent-text-color);
}
.social-icon {
  fill: #afb1b8;
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-bg-color);
}
.social-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* section cliens*/
.clients {
  padding-bottom: 94px;
}
.clients-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: var(--title-list-text-color);
}
.clients-link:hover,
.clients-link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
.clients-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
/*footer*/
.footer {
  background-color: var(--footer-bg-color);
}
.footer .container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--primary-bg-color);
}
.footer .logo {
  color: var(--primary-bg-color);
  line-height: calc(31 / 26);
  font-family: var(--secondary-ff);
}
.footer-adres {
  line-height: 1.71;
  font-style: normal;
  list-style: none;
  width: 231px;
  margin-top: 20px;
  margin-right: 70px;
}
.footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-text-color);
}
.footer-icons {
  fill: #afb1b8;
}
.footer-link:hover .footer-icons,
.footer-link:focus .footer-icons {
  fill: var(--primary-bg-color);
}
.footer-link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav {
  color: var(--primary-bg-color);
}
.footer-nav__social {
  margin-top: 20px;
}
.footer-name {
  font-size: 26px;
  line-height: calc(31 / 26);
  width: 145px;
  margin-bottom: 9px;
}
.footer-wapper {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  transform: translate();
}
.footer-nav__social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  color: var(--primary-bg-color);
  text-decoration: none;
}
.footer-contacts {
  color: var(--title-list-text-color);
  text-decoration: none;
}
.footer-contacts:focus,
.footer-contacts:hover {
  color: var(--accent-text-color);
}
.footer-contacts {
  transition: all translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-data {
  width: 570px;
  height: 105px;
  margin-left: 83px;
}
.footer-item {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.footer-form {
  flex-direction: column;
  position: relative;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: var(--bg-portf-color);
  margin-bottom: 20px;
}
.footer-label {
  color: var(--primary-bg-color);
}
.footer-input {
  font-size: 16px;
  line-height: calc(20 / 16);
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  background-color: var(--footer-bg-color);
  color: var(--bg-portf-color);
  padding-left: 16px;
}
.footer-input::placeholder {
  content: '';
}
.checkbox-custom {
  width: 16px;
  height: 15px;
  font: var(--primary-text-color);
}
.checkbox-custom:focus-within {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
}
.footer-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  border-radius: 4px;
  border: var(--bg-portf-color);
  background-color: var(--accent-text-color);
  width: 200px;
  height: 50px;
  margin-left: 12px;
}
.footer-icon {
  width: 24px;
  height: 24px;
  fill: var(--primary-bg-color);
}
/*button*/
.filter-btn {
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  border: none;
  border-radius: 4px;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  border: none;
}
.filter-btn {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-item__button {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  border: none;
}
/* модалка*/
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.form-model {
  padding: 40px;
}
.model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  outline: 4px solid rgba(0, 0, 0, 0.1);
}
.model-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.model-icon:hover,
.model-icon:focus,
.model-icon:focus-within {
  color: var(--accent-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.model-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin: auto;
}
.button {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  resize: none;
  line-height: calc(14 / 12);
  fill: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  padding-left: 16px;
  padding-top: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea:hover,
.textarea:focus,
.textarea:focus-within {
  border-color: var(--accent-text-color);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--title-list-text-color);
  width: 528px;
  height: 581px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
}
.form-text {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  color: var(--title-text-color);
  width: 448px;
  margin-top: 40px;
  margin-bottom: 12px;
  margin-left: 40px;
}
.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  padding-top: 10px;
  width: 448px;
}
.form-input {
  display: flex;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  font-size: 16px;
  padding-left: 40px;
}
.form-input:hover,
.form-input:focus,
.form-input:focus-within {
  border-color: var(--accent-text-color);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .form-icon {
  content: '';
  color: var(--accent-text-color);
}
.form-icon {
  position: absolute;
  bottom: 12px;
  left: 12px;
  width: 18px;
  height: 18px;
}
.form-icon:hover,
.form-icon:focus {
  fill: var(--accent-text-color);
}
.form-condition {
  justify-content: center;
  text-align: center;
  line-height: calc(24 / 14);
  margin-top: 20px;
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  margin-top: 30px;
}
.btn-submit:hover,
.btn-submit:focus {
  border-color: var(--accent-text-color);
  outline: none;
}
.form-span {
  color: var(--accent-text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--accent-text-color);
}
/* work */
.work {
  margin-bottom: 94px;
}
.work-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 94px;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.filter-btn {
  padding: 6px 22px;
}
.portfolio-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
/* portfolio */

.portfolio-item {
  border: 1px solid #eeeeee;
}
.portfolio-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
}
.portfolio-item__link:hover .portfolio-wrapper__text,
.portfolio-item__link:focus .portfolio-wrapper__text {
  transform: translateY(0);
}
.portfolio-wrapper__text {
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
  color: var(--primary-bg-color);
  border: none;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.work .container {
  padding: 0;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-box {
  padding: 20px;
}
/*project*/
.project {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}
.project-text {
  font-size: 16px;
  color: var(--title-text-color);
  line-height: calc(30 / 16);
}
