.clients {
  padding-bottom: 94px;
}
.clients-title {
  @extend flex;
}
.clients-list {
  @extend flex;
}
.clients-list__link {
  @extend flex;
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  color: var(--title-list-text-color);
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
.clients-list__link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-wrapper {
  @extend flex;
}
.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}
