.feature {
  text-align: left;
  padding-bottom: 0px;
  padding-top: 94px;
}
.feature-list {
  display: flex;
}
.feature-item__title {
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.feature-item__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-list-text-color);
}
.feature-item:not(:last-child) {
  margin-right: 30px;
}
.feature-item {
  width: 270px;
}
.feature-item__icon {
  @extend %flex; 
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
