.hero {
  background-color: var(--footer-bg-color);
  display: block;
  max-width: 1600px;
  height: 600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/header.jpg);
}
.hero-title {
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-bg-color);
  max-width: 696px;
  margin: 0 auto;
}
.btn {
  display: inline-block;
  min-width: 152px;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  margin-top: 30px;
}
.hero-button {
  background-color: var(--accent-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-bg-color);
  padding: 10px 32px;
  border: none;
}
