.team-social__link {
  @extend flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-text-color);
}
.team-social__icon {
  fill: #afb1b8;
}
.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--primary-bg-color);
}
.team-social__link {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
