.team-nav {
  display: flex;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: var(--bg-portf-color);
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-item {
  display: inline-block;
  width: 270px;
  height: auto;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-box__list {
  text-align: center;
}
.team-box__item {
  margin-top: 10px;
  text-align: center;
}
.team-box__name {
  font-size: 16px;
  font-weight: 500;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-box__position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--title-list-text-color);
}
.team-box {
  padding: 30px;
}
.team-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
