.work .container {
  padding: 0;
}
.work {
  margin-bottom: 94px;
}
.work-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  margin-top: 94px;
}
.work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item__button {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  border: none;
}

.filter-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: calc(26 / 16);
  text-align: center;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  border: none;
}
.filter-btn {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
