.model {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-bg-color);
  outline: 4px solid rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .model {
  transform: translate(-50%, -50%) scale(0.5);
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: all 250ms;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.1);
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.model-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  padding: 0;
  background: transparent;
  border-radius: 50%;
  border: 1px solid rgba(51, 23, 23, 0.1);
}
.model-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  margin: auto;
}
.model-icon:hover,
.model-icon:focus,
.model-icon:focus-within {
  color: var(--accent-text-color);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea {
  resize: none;
  line-height: calc(14 / 12);
  fill: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.01em;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.textarea:hover,
.textarea:focus,
.textarea:focus-within {
  border-color: var(--accent-text-color);
  outline: none;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit {
  @extend %flex;
  text-align: center;
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  background-color: var(--accent-text-color);
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  margin-top: 30px;
}
.btn-submit:hover,
.btn-submit:focus {
  border-color: var(--accent-text-color);
  outline: none;
}
